

<div class="popUp"></div>
 <ul class="list"></ul>

<form class="post-form">
	<h1>Tweet</h1>
	<input class="form-username" type="text" placeholder="username">
	<textarea class="form-input" type="text" placeholder="tweet tweet,"></textarea>
	<button class="form-button" type="submit">Submit</button>

</form>

