<div id='login-view'>
  <aside>
    <h1>Twitter Feed</h1>
  </aside>
  <form class="twitter-sign-in">
  <%= link_to "Sign in with Twitter", "/auth/twitter"%>
  </form>
  <div class='clear'></div>
</div>