<div id='signup-view'>
  <div class="page-header">
    <h1><small>Tweet</small></h1>
  </div>

  <form>
    <%= link_to "Sign in with Twitter", "/auth/twitter"%>
  </form>

  <div class='clear'></div>
</div>