/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body{
	
	margin: 0;
	padding: 0;
	background-color: #D1E0FF;
}



.container{
	text-align: center;
	margin-top: 35px;
	
}

.banner{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #990000;
	text-align: center;
	color: #f5f8fa;
	z-index: 1;
	
}

.banner h1{
	margin: 0;
}


.bubble{
	text-align: left;
	position: relative;
	width: 75%;
	margin: 10px;
	padding: 20px;
	display: inline-block;
	background-color: #55ACEE;
	-moz-border-radius: 30px;
	border-radius: 30px;
	vertical-align: top;
	color: #292f33;
	border: 2px solid #55ACEE;
}

.bubble:hover{
	border: 2px solid #FFFF00;
	-moz-box-shadow:    inset 0 5px 20px 10px #3a85d6;
   -webkit-box-shadow: inset 0 5px 20px 10px #3a85d6;
   box-shadow:         inset 0 5px 20px 10px #3a85d6;
   
}

.bubble:active{
	background-color: #3a85d6;
	-moz-box-shadow:    inset 0 5px 20px 10px #3a85d6;
   -webkit-box-shadow: inset 0 5px 20px 10px #3a85d6;
   box-shadow:         inset 0 5px 20px 10px #3a85d6;
}

.scoreboard{
	height: 40px;
}

#hacker-list{
	height: 40px;
	width: 100%;
}

.list{
	height: 40px;
	width: 500px;
}


