/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body{
	
	margin: 0;
	padding: 0;
	

	font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
}

.backImage{
	position: fixed;
	width:100%;
	height:100%;
	z-index: -30;
	background-image: url('http://static1.wikia.nocookie.net/__cb20130119100035/creepypasta/images/2/2a/Field-of-love-nature-31000_(1).jpg');
}

.container{
	text-align: center;
	margin-top: 18px;
	
}

.banner{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #e1e4e7;
	text-align: left;
	color: #1f2f3a;
	z-index: 1;
	padding-left: 10px;
	padding-bottom: 0px;
	border-bottom: 4px solid black;

	
}

.banner h1{
	margin: 0;
	margin-bottom: -7.5px;
}

.sideBar {
	position: fixed;
	width: 220px;
	margin-left: .5px;
	
	
}

.list{
	float:left;

}

.bubble{
	text-align: left;
	position: relative;
	width: 500px;
	margin: 0.5px;
	left: 225px;
	padding: 20px;
	/*display: inline-block;*/
	background-color: white;
	
	
	vertical-align: top;
	color: #292f33;
	border: 2px solid gray;
	border-radius: 9px;
}

.bubble:hover{
	border: 2px solid #FFFF00;
	
   
}

.bubble:active{

}


.popUp{
	position: fixed;
	margin-top:40px;
	width:500px;
	height: 400px;
	right: 40px;
	margin-right: 50px;
	background-color: white;
}

.additionalInfo{

}

input {
	height: 55px;
	width: 262px;
	font-size: 20px;
	border-radius: 3px;
	border: none;
	margin-top: 17px;
}

button {
	height: 60px;
	width: 264px;
	color: white;
	background-color: #f15a5f;
	border: none;
	font-size: 20px;
	
	
}
button:hover{
	border-bottom: 4px solid black;
	border-top: 1px solid black;
	border-right: 4px solid black;

}



