
html, body{
	
	margin: 0;
	padding: 0;
	font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;

}

h1{
	font-size: 30px;
	font-weight: 300;
	
}
h2{
	font-size: 20px;
	font-weight: 300;
	
}

/* layout structure */

.backImage{
	position: fixed;
	width:100%;
	height:100%;
	z-index: -30;
	background-image: url('http://static1.wikia.nocookie.net/__cb20130119100035/creepypasta/images/2/2a/Field-of-love-nature-31000_(1).jpg');
}

.container{
	text-align: center;
	margin-top: 18px;
	
}

.banner{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #e1e4e7;
	text-align: left;
	color: #1f2f3a;
	z-index: 1;
	padding-left: 10px;
	padding-bottom: 0px;
	border-bottom: 4px solid black;


	
}

.banner h1{
	margin: 0;
	margin-bottom: -7.5px;
	float: left;
}

.authenticate {
	position: fixed;
	right: 10%;
	color: #1f2f3a;
	font-size: 20px;
	font-weight: 300;
	margin-top: 7.5px;
}

/* Left Column */

.sideBar {
	position: fixed;
	width: 220px;
	margin-left: .5px;
	
	
}

.leftPanel{
	height: 220px;
	width: 275px;
	background-color: #5a5ff1;
	position:fixed;
	z-index: -1;
	color: white;

}

/* Center Column */

.list{
	float:left;

}

.bubble{
	text-align: left;
	position: relative;
	width: 500px;
	margin: 0.5px;
	left: 225px;
	padding: 20px;
	background-color: white;
	vertical-align: top;
	color: #292f33;
	border: 2px solid gray;
	border-radius: 9px;
}

.bubble:hover{
	border: 2px solid #111111;
	background-color: #e5f1ff;
	
   
}

.bubble:active{

}

/* Right Column */

.popUp{
	position: absolute;
	width:175px;
	height: 100px;
	left: 810px;
	background-color: #e5f1ff;
	z-index: 2;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	display: none;
}

.additionalInfo{

}


/* Buttons, Forms, Input */


.search {
	height: 55px;
	width: 275px;
	font-size: 20px;
	border-radius: 3px;
	border: none;
	margin-top: 17px;
}

.sort {
	height: 60px;
	width: 275px;
	color: white;
	background-color: #f15a5f;
	border: none;
	font-size: 20px;
	
	
}
.sort:hover{
	border-bottom: 4px solid black;
	border-top: 2px solid black;
	border-right: 4px solid black;

}

.post-form{
	position:fixed;
	z-index: 1;
	left: 810px;
	top: 40px;

}

.form-input{
	height: 100px;
	width: 375px;
	font-size: 20px;
	border-radius: 3px;
	border: none;
	margin-top: 0;
	vertical-align: middle;
	margin-bottom: 10px;
}


.form-username{
	height: 50px;
	width: 375px;
	font-size: 20px;
	border-radius: 3px;
	border: none;
	margin-top: 0;
	margin-bottom: 10px;
	vertical-align: middle;
}



.form-button{
    height: 55px;
	width: 275px;
	font-size: 20px;
	border-radius: 3px;
	border: none;
	margin-top: 0;
	vertical-align: middle;
	background-color: #f15a5f;
	color: white;
}




/* Error Messages, Lightboxes */



.errorMessage{
	position: fixed;
	top: 200px;
	left: 35%;
	width: 30%;
	background-color: rgba(255,0,0,0.5);
	text-align: center;
	color: white;
	z-index: 60;
	padding-left: 10px;
	padding-bottom: 0px;
	border: 4px solid red;
	display: none;
}

.successMessage{
	position: fixed;
	top: 200px;
	left: 35%;
	width: 30%;
	background-color: rgba(0,255,0,0.5);
	text-align: center;
	color: white;
	z-index: 60;
	padding-left: 10px;
	padding-bottom: 0px;
	border: 4px solid green;
	display: none;
}


/* signup tut forms */

#signup-view {
  width: 470px;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  background: #FFF;

  .page-header {
    padding: 18px 1em;
    margin: 0 0 18px 0;
    border-bottom: 1px solid #EEE;

    h1 { margin: 0; padding: 0; }
    small { font-weight: normal; color: #999; }
  }

  label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
  }

  .control-group {
    margin-bottom: 18px;
  }
  .controls { margin-left: 160px; }

  input[type=text], input[type=password] { width: 280px; }
  input[type=submit] { display: inline-block; float: right; }

  .form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #EEE;
    border-top: 1px solid #DDD;
  }
}

.clear { clear: both; }	

input.error { border: 2px solid red; }		

