
	<h3 class="retweet"> 
		<%= retweet_count%> retweets!
	</h3>
	<h2 class='name'> 
		<%= user.screen_name %>(<span class="followers">
    		<%= user.followers_count %></span> followers) said:
    </h2>
    	<span class="text"><%= text %></span>
