<!DOCTYPE html>
<html>
<head>
  <title>TwitterApi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 

</head>
<body>
<div class='backImage'></div>
<div id="tweet-list">
	<div class="lightBox">
		<div class="banner">
			<h1>
				#Stanford Twitter Feed
				
			</h1>
		</div>

		<div class="errorMessage">
		</div>
		<div class="successMessage">
			<h1>Success</h1>
		</div>
		
		<div class="container">
		<div class="sideBar">
			<input class="search" placeholder="Search" />
			<button class="sort" data-sort="retweet">Sort by Retweet</button>
			<button class="sort" data-sort="followers">Sort by Followers</button>
			<div class='leftPanel'>	
			</div>


		</div>
			<%= yield %>
		</div>
	</div>	
</div>	
</body>
</html>
